{% block content %}
    <br>
    <div class="row text-center d-flex justify-content-around">
        {% for publication in publication_list %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ publication.image.url }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ publication.title }}</h4>
                        <p class="card-text">{{ publication.summary }}</p>
                    </div>
                    <div class="card-footer">
                            <a href="{% url 'detail_publication' publication.id %}" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
